.blog-container {
    height: 100vh;
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;

    .blog-banner {
        // border: 1px solid pink;
        width: 100%;
        height: 140px;
        position: relative;
        margin: 60px 0px 0px 0px;
        background-image: url("../../assets/images/blog.jpg");
        background-position: bottom;
        background-size: cover;
        background-position-y: -400px;

        .blog-darkOverlay {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: 0.4;
            z-index: 1;
        }

        .blog-header {
            max-width: 1000px;
            // border: 1px solid red;
            margin: auto auto;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 40px;
            color: white;

            p{
                z-index: 7;
            }
        }
    }

    .blog-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        width: 1000px;
        // border: 1px solid black;
        // align-items: center;
        justify-content: space-between;
        margin: 0px auto;

        .blog-item {
            display: flex;
            flex-direction: column;
            // align-items: center;
            // padding: 20px 10px;
            width: 280px;
            height: max-content;
            padding: 10px 5px 30px 5px;
            box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
            // height: 448px;
            // background-color: greenyellow;
            // background-color: #fff;

                .img-holder {
                    display: flex;
                    // height: 211px;
                    height: 200px;
                    flex-direction: column;
                    position: relative;
                    overflow: hidden;

                    .piccover {
                        // height: 211px;
                        width: 300px;
                        height: 448px;
                        object-fit: cover;
                    }

                    // .dark-overlay{
                    //     background-color: #000000;
                    //     height: 211px;
                    //     width: 100%;
                    //     opacity: 0.3;
                    //     position: absolute;
                    // }

                    // .play-button-holder {
                    //     display: flex;
                    //     position: absolute;
                    //     align-items: center;
                    //     justify-content: center;
                    //     width: 30px;
                    //     height: 30px;
                    //     padding: 10px;
                    //     border: 3px solid white;
                    //     background-color: rgba(255, 255, 255, 0.11);
                    //     border-radius: 50%;
                    //     right: 0;
                    //     cursor: pointer;
                    //     margin: 10px 5px;

                    //     img {
                    //         width: 20px;
                    //         height: 20px;
                    //         position: absolute;
                    //     }
                    // }
                }

                .caption-holder {
                    display: flex;
                    flex-direction: column;
                    // border: 1px solid red;
                    gap: 10px;
                    position: relative;

                    .news-type {
                        // background-color: #0c4cac35;
                        // color: #0C4CAC;
                        background-color: #fff;
                        color: #0C4CAC;
                        width: max-content;
                        padding: 7px 20px;
                        font-size: 13px;
                        margin: -40px 0px 5px 10px;
                    }

                    .news-read-duration {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        font-size: 13px;
                        color: #bebaba;
                        width: max-content;

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .news-caption {
                        font-weight: bolder;
                        font-size: 13px;
                        padding: 0px 5px;
                    }

                    .news-description {
                        font-size: 14px;
                        padding: 0px 5px;
                    }

                    .news-date {
                        display: flex;
                        font-size: 11px;
                        color: #5B5858;
                        width: max-content;
                        position: absolute;
                        // border: 1px solid red;
                        margin: 9px 0px 0px 200px;
                    }

                    .news-continue {
                        display: flex;
                        justify-content: left;
                        //border: 1px solid black;
                        // width: max-content;
                        font-size: 13px;
                        font-weight: bold;
                        font-style: italic;
                        // color: #39d388;
                        cursor: pointer;
                        padding: 0px 5px;

                        .link {
                            text-decoration: none;
                            color: #39d388;
                        }
                    }
                }

        }
    }

    .blog-nothing {

        .blog-wrapper {

            display: flex;
            flex-direction: column;
            // border: 1px solid black;
            border-radius: 50%;
            width: 500px;
            height: 500px;
            padding: 20px;
            margin: 30px auto 100px auto;
            background-color: #fafafa;

            .blog-image {
                // background-image: url('../../assets/images/nopost.png');
                height: 350px;
                width: 350px;
                background-size: cover;
                display: flex;
                align-items: center;
                justify-content: center;
                // border: 1px solid red;
                margin: 0px auto 0px auto;

                img {
                    width: 300px;
                    margin: 0px auto 0px auto;
                    // border: 1px solid red;
                }
            }

            .blog-text {
                text-align: center;
                p:nth-child(1) {
                    font-size: 25px;
                    margin-bottom: 30px;
                }
                p:nth-child(2) {
                    font-size: 15px;
                    opacity: 0.4;
                    width: 250px;
                    margin: 0px auto 0px auto;
                }
            }
            
        }
    }

    // .blog-journey {

    //     margin: 50px;

    //     .blog-journey-wrapper {
    //         max-width: 1300px;
    //         // border: 1px solid red;
    //         height: 300px;
    //         margin: 0px auto;
    //         display: flex;
    //         gap: 20px;

    //         .blog-journey-left {
    //             width: 50%;
    //             height: 100%;
    //             background-image: url("../../assets/images/headoffice.jpg");
    //             background-size: cover;
    //         }
    //         .blog-journey-right {
    //             width: 50%;

    //             .blog-journey-header {
    //                 font-size: 30px;

    //                 hr {
    //                     margin: 10px 0px 10px 0px;
    //                     width: 40px;
    //                     border: 1px solid #c62828;
    //                 }
    //             }

    //             p {
    //                 font-weight: 300;
    //             }
    //         }
    //     }
    // }
}

@media only screen and (min-width: 320px) and (max-width: 400px){ //Mobile

    .blog-container {
            // display: flex;
            // border: 1px solid black;
        .blog-banner {
            // border: 1px solid pink;
            width: 100%;
            height: 100px;
            background-position: bottom;
            background-size: cover;
            // background-position-y: -400px;
            .blog-header {
                font-size: 40px;
                margin-left: 40px;
            }
        }

        .blog-nothing {

            .blog-wrapper {
    
                display: flex;
                flex-direction: column;
                // border: 1px solid black;
                border-radius: 50%;
                width: 300px;
                height: 300px;
                padding: 20px;
                margin: 30px auto 100px auto;
                background-color: #fafafa;
    
                .blog-image {
                    // background-image: url('../../assets/images/nopost.png');
                    height: 300px;
                    width: 300px;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // border: 1px solid red;
                    margin: 0px auto 0px auto;
    
                    img {
                        width: 170px;
                        margin: 0px auto 0px auto;
                        // border: 1px solid red;
                    }
                }
    
                .blog-text {
                    text-align: center;
                    p:nth-child(1) {
                        font-size: 25px;
                        margin-top: 10px;
                    }
                    p:nth-child(2) {
                        font-size: 13px;
                        opacity: 0.4;
                        width: 250px;
                        margin: 0px auto 20px auto;
                    }
                }
                
            }
        }
    }
}


@media only screen and (min-width: 401px) and (max-width: 450px){ //Mobile

    .blog-container {
            // display: flex;
            // border: 1px solid black;
        .blog-banner {
            // border: 1px solid pink;
            width: 100%;
            height: 100px;
            background-position: bottom;
            background-size: cover;
            // background-position-y: -400px;
            .blog-header {
                font-size: 40px;
                margin-left: 40px;
            }
        }

        .blog-nothing {

            .blog-wrapper {
    
                display: flex;
                flex-direction: column;
                // border: 1px solid black;
                border-radius: 50%;
                width: 300px;
                height: 300px;
                padding: 20px;
                margin: 30px auto 100px auto;
                background-color: #fafafa;
    
                .blog-image {
                    // background-image: url('../../assets/images/nopost.png');
                    height: 300px;
                    width: 300px;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // border: 1px solid red;
                    margin: 0px auto 0px auto;
    
                    img {
                        width: 170px;
                        margin: 0px auto 0px auto;
                        // border: 1px solid red;
                    }
                }
    
                .blog-text {
                    text-align: center;
                    p:nth-child(1) {
                        font-size: 25px;
                        margin-top: 10px;
                    }
                    p:nth-child(2) {
                        font-size: 13px;
                        opacity: 0.4;
                        width: 250px;
                        margin: 0px auto 30px auto;
                    }
                }
                
            }
        }
    }
}